@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  background-color: #F4F8FF;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #151515;
}

a {
  color: #315488;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

input {
  border-radius: 2rem;
}
input::-webkit-input-placeholder {
  color: #315488;
  font-size: 1.3rem;
  font-weight: 300;
}
input::-moz-placeholder {
  color: #315488;
  font-size: 1.3rem;
  font-weight: 300;
}
input:-ms-input-placeholder {
  color: #315488;
  font-size: 1.3rem;
  font-weight: 300;
}
input::-ms-input-placeholder {
  color: #315488;
  font-size: 1.3rem;
  font-weight: 300;
}
input::placeholder {
  color: #315488;
  font-size: 1.3rem;
  font-weight: 300;
}

.btn {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 3.7rem;
  background-color: #ce1e2f;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.btn:hover {
  background-color: #b50117;
}
.btn--transparent {
  background: none;
  color: #ce1e2f;
  border: 1px solid #ce1e2f;
}
.btn--transparent:hover {
  background: #ce1e2f;
  color: #fff;
}
.btn--blue {
  background-color: #5b85c3;
}
.btn--blue:hover {
  background-color: #315488;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1350px) {
  .container {
    max-width: 997px;
  }
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Semibold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  background-color: #fff;
}

.divider {
  height: 1px;
  background-color: #F4F8FF;
}

.top__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4.7rem;
}
@media (max-width: 991px) {
  .search__block {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8f0fd;
  padding: 0 1.8rem;
}
.search__input input {
  position: relative;
  padding-left: 3.6rem;
  vertical-align: middle;
  font-size: 1.3rem;
  height: 4.5rem;
  width: 100%;
}
.search__input::before {
  content: "";
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  background: url(/img/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__phone {
  margin-right: 7.4rem;
}
.header__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: inherit;
  font-size: 2.2rem;
  font-weight: 600;
}

.main__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7rem;
  padding: 1.5rem 0 2rem;
}
.main__head .logo {
  width: 33.3333333333%;
}
.main__head .logo img {
  height: 7.4rem;
}

.company__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  font-size: 1.4rem;
}
.company__info .info__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.info__text {
  display: block;
  color: #315488;
}

.header__menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#194483), to(#0f2f60));
  background: linear-gradient(180deg, #194483 0%, #0f2f60 100%);
  padding: 1rem 0;
}

.menu-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.nav ul li {
  color: #c3dbff;
}
.nav ul li a {
  font-size: 1.5rem;
  color: #c3dbff;
  margin-right: 2px;
}
.nav ul li:hover a {
  color: #fff;
}

.banner {
  margin: 4rem 0 5rem;
}

.banner__item {
  position: relative;
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 0.5rem;
  overflow: hidden;
}

.banner__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/img/banner1.jpg") no-repeat;
  background-size: cover;
  background-position: right center;
  z-index: -1;
  width: 60%; /* устанавливаем ширину в процентах, например, 60% */
}

.banner__content {
  position: relative;
  z-index: 1; /* устанавливаем z-index, чтобы контент был над слоем с фоном */
  width: 40%;
  padding: 3.9rem 4.2rem 5.7rem 4.9rem;
  background-color: #fff; /* если нужен фон контентной части */
}
.banner__content h1 {
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: 600;
  color: #163E7A;
  margin-bottom: 1.8rem;
}
.banner__content p {
  font-size: 15px;
  color: #163E7A;
  margin-bottom: 3rem;
}

.promo__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
  color: #93AFDA;
  margin-bottom: 3rem;
}

.dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dot {
  cursor: pointer;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #CCDBF2;
}

.dot.active {
  background-color: #315488;
}

.features {
  margin-bottom: 6.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}

.features__item {
  width: calc(33.3333333333% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}
.features__item img {
  width: 3rem;
}
.features__item p {
  font-size: 1.7rem;
  color: #122137;
}