// цвета
$dark: #142338;
$blue: #315488;
$blue-second: #5b85c3;
$red: #ce1e2f;
$red-second: #b50117;
$input: #e8f0fd;
$bg: #F4F8FF;
$text: #151515;
$heading: #000;
$link: #315488;
$white: #fff;

// контейнер
$container-xl: 1170px;
$container-l: 997px;


// брейкоинты
$notebook-bp: 1350px;
$tablet-bp: 991px;
$mobile-bp: 575px;



