.header {
  background-color: #fff;
}

.divider {
  height: 1px;
  background-color: $bg;
}

.top__head {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.search__block {
  flex: 1;
  margin-right: 4.7rem;

  @media (max-width: 991px) {
    flex: auto;
  }
}

.search__input {
  display: flex;
  align-items: center;
  background-color: $input;
  padding: 0 1.8rem;

  input {
    position: relative;
    padding-left: 3.6rem;
    vertical-align: middle;
    font-size: 1.3rem;
    height: 4.5rem;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    background: url(/img/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header__phone {
  margin-right: 7.4rem;

  a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: inherit;
    font-size: 2.2rem;
    font-weight: 600;
  }
}

.main__head {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  padding: 1.5rem 0 2rem;

  .logo {
    width: calc(100% / 3);
  }

  .logo img {
    height: 7.4rem;
  }
}

.company__info {
  display: flex;
  gap: 2.5rem;
  font-size: 1.4rem;

  .info__block {
    flex: 1;
  }
}

.info__title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.info__text {
  display: block;
  color: $blue;
}

.header__menu {
  background: linear-gradient(180deg, #194483 0%, #0f2f60 100%);
  padding: 1rem 0;
}

.menu-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 2rem;

  li {
    color: #c3dbff;

    a {
      font-size: 1.5rem;
      color: #c3dbff;
      margin-right: 2px;
    }

    &:hover a {
      color:$white;
  }

}

}

